# Server Configuration
PORT=3000

# Text Generation (LLM) APIs (Provide at least one if not running in Mock Mode)
GROQ_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=

# Image Generation APIs (Provide at least one if not running in Mock Mode)
FAL_KEY=
HF_API_KEY=
OPENAI_API_KEY= # DALL-E uses the same OpenAI key
